<section class="album-covers container clearfix">
     <div class="collection-album-container column fourth" ng-repeat="album in collection.albums">
<!--        we've bound the album data to the CollectionCtrl, we need to update the Collection template to access the necessary information and display multiple albums. we add the ngRepeat directive (directives bing behavior to HTML elements)  ngRepeat is similar to a for..in statement, where it iterates through a collection.-->
         
         <img src="{{ album.albumArtUrl }}">
         <div class="collection-album-info caption">
             <p>
                 <a class="album-name" ui-sref="album">{{ album.title }}</a>
                 <br/>
                 <a ui-sref="album">{{ album.artist }}</a>
                 <br/>
                 {{ album.songs.length }} songs
                 <br/>
             </p>
         </div>
     </div>
 </section>

 <ng-include src="'/templates/player_bar.html'"></ng-include>
